# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/interim/
data/processed/

# Outputs
outputs/

# System
.DS_Store

# Large GIS files
*.tif
*.tiff
*.gpkg
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.geojson
*.zip